*, * >* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  background-color: var(--bg-outside);
  height: 100vh;
}

.box {
  position: relative;
  border-radius: 8px;
  background-color: var(--main-bg);
  text-align: center;
  flex-direction: column;
  padding: 2.5rem 1.5rem;
  min-width: 280px;
  width: 95%;
}

.box h2 {
  margin-bottom: 1.5rem;
  color: var(--title-button-color);
  font-size: 0.7rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.box h1 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--main-font);
}
.box > img {
  margin-bottom: 1.5rem;
  width: 100%;
  max-height: 15px;
}

.btn {
  position: absolute;
  background-color: var(--title-button-color);
  border: none;
  border-radius: 100%;
  padding: 1.2rem;
  bottom: 0;
  transform: translateY(50%);
  cursor: pointer;
}

.btn img {
  vertical-align: middle;
}

.desktop-divider {
  display:none
}

@media only screen and (min-width: 450px) {
  
  .desktop-divider {
    display:block;
    max-width: 90%;
  }
  .mobile-divider {
    display:none
  }
}

@media only screen and (min-width: 500px) {
  
  .box {
    max-width: 450px;
  }
  .btn:hover {
    box-shadow: 0px 0px 57px 5px rgba(82,255,168,0.65);
    -webkit-box-shadow: 0px 0px 57px 5px rgba(82,255,168,0.65);
    -moz-box-shadow: 0px 0px 57px 5px rgba(82,255,168,0.65);
  }
}