@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;800&display=swap');
:root {
  --main-font: hsl(193, 38%, 86%);
  --bg-outside: hsl(218, 23%, 16%);
  --main-bg: hsl(217, 19%, 24%);
  --title-button-color: hsl(150, 100%, 66%);

}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  font-family: 'Manrope', sans-serif;
}